.community-cards{
    @font-face {
        font-family: 'Segoe UI';
        src: url('../font/SegoeUI.eot');
        src: url('../font/SegoeUI.eot?#iefix') format('embedded-opentype'),
            url('../font/SegoeUI.woff2') format('woff2'),
            url('../font/SegoeUI.woff') format('woff'),
            url('../font/SegoeUI.ttf') format('truetype'),
            url('../font/SegoeUI.svg#SegoeUI') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    
    html {
        font-size: 16px;
        -webkit-font-smoothing: antialiased;
    }
    
    main {
        overflow: hidden;
        padding: 35px 0;
    }
    
    /* main .container {
        padding: 0 65px;
    } */
    
    section {
        display: inline-block;
        width: 100%;
    }
    
    body {
        color: #333;
        font-family: 'Segoe UI';
        font-size: 13px;
        background: #f2f5f9;
        position: relative;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    img {
        max-width: 100%;
    }
    
    a, a:hover {
        text-decoration: none;
    }
    
    /****** card style ********/
    
    .category .job {
        border: 1px solid transparent;
        padding: 30px 19px 25px 19px;
        border-radius: 8px;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
        background: #fff;
    }
    
    .category .job:hover {
        border: 1px solid #005cd6;
    }
    
    .category .job h5 a {
        color: #005cd6;
    }
    
    .category .job span {
        padding: 6px 20px;
        font-weight: 400;
        border-radius: 26px;
        display: inline-block;
    }
    
    .category .job .colors1 {
        font-weight: 800;
        color: #F27E42;
        background: #f27e4242;
    }
    
    .category .job .colors2 {
        font-weight: 800;
        color: #4294F2;
        background: rgba(66, 148, 255, 0.26);
    }
    
    .category .job .colors3 {
        font-weight: 800;
        color: #2EB98D;
        background: rgba(46, 185, 141, 0.03);
    }
    
    .category .job .colors4 {
        font-weight: 800;
        color: #6A42F2;
        background: rgba(106, 66, 242, 0.07);
    }
    
    .category .job .colors5 {
        font-weight: 800;
        color: #F162BC;
        background: rgba(241, 98, 188, 0.07);
    }
    
    .category .job .colors2 {
        font-weight: 800;
        color: #4294F2;
        background: rgba(66, 148, 255, 0.26);
    }
    
    .place {
        display: flex;
        align-items: center;
        font-size: 12px;
        padding-left: 0px;
        color: #76787A;
        justify-content: space-between;
        list-style: none;
    }
    
    .category .job span.time {
        font-weight: 900;
    }
}
