.header {
    background-color: $secondary;
    padding: 1rem 0;

    &__logo {
        color: $white;
        text-decoration: none;
        text-transform: uppercase;

        h1 {
            margin: 0;
        }

        span {
            color: $primary;
        }

        &:hover {
            color: $white;
            text-decoration: none;
        }
    }
}
