.main-nav {
    background-color: $primary;
    border-bottom: 0.5rem solid $secondary;

    &__links {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        
        li {
            display: flex;
            align-items: center;
            position: relative;

            ul {
                position: absolute;
                top: 100%;
                background-color: $primary;
                padding: 0;
                width: 250px;
                display: none;

                a {
                    width: 100%;
                }
            }

            &:hover {
                ul {
                    display: block;
                }
            }
        }

        a {
            color: $white;
            font-weight: bold;
            text-decoration: none;
            padding: 1rem;
            display: block;

            &:hover {
                background-color: $secondary;
                transition: 0.2s;
            }

            &.active {
                border-bottom: 0.5rem solid $primary;
                margin-bottom: -0.5rem;
            }
            
            i {
                margin-left: 0.5rem;
            }
        }
    }
}