.profile {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    span {
        font-weight: bold;
    }

    &__overall-rating {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        ul {
            display: flex;

            i {
                font-size: 2rem;
    
                &.fas {
                    color: $yellow;
                }
            }
        }
    }
}