.review {
    h3 {
        margin-bottom: 1rem;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
    }
    &__rating {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        li {
            margin: 0;
        }
        i {
            font-size: 1.5rem;
            
            &:hover {
                cursor: pointer;
            }
        }
        .fa-solid {
            color: $yellow;
        }
    }
    &__comment {
        display: flex;
        flex-direction: column;
        width: 50%;

        @include media-breakpoint-down(lg) {
            width: 100%;
        }
        
        textarea {
            padding: 0.5rem;
            min-height: 100px;
        }
    }
}